<div class="container">
    <div class="row">
        <div class="col mt-3 mb-3">
            <h2 class="text-center">
                广州海关移动办公使用指南 （应用发布方式）
            </h2>
        </div>
    </div>

    <div class="row justify-content-sm-center">
        <div class="col-sm-10 col-md-8 mb-5">
            <div class="card bg-light">
                <img src="assets/img/slide/bg1.png" alt="" class="card-img-top" />
                <div class="card-body">
                    <p class="card-text">
                        <span class="hanging">1</span>
                        测试网线、WIFI接入互联网情况。可以访问
                        <a href="https://www.baidu.com">http://www.baidu.com</a>。新闻日期为最新则电脑访问互联网正常。
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-sm-center">
        <div class="col-sm-10 col-md-8 mb-5">
            <div class="card bg-light">
                <img src="assets/img/slide/bg2.png" alt="" class="card-img-top" />
                <div class="card-body">
                    <p class="card-text">
                        <span class="hanging">2</span>在浏览器输入移动办公网址:
                        <a href="https://vpn.gz-eport.com">https://vpn.gz-eport.com</a>
                        并下载Easy connect插件。
                        <br />备选移动办公访问网址：
                        <a href="https://210.21.48.8">https://210.21.48.8</a>&nbsp;
                        <a href="https://183.63.187.131">https://183.63.187.131</a> &nbsp;
                        <a href="https://58.248.40.222">https://58.248.40.222</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-sm-center">
        <div class="col-sm-10 col-md-8 mb-5">
            <div class="card bg-light">
                <div class="card-img-top">
                    <img src="assets/img/slide/bg3.png" style="width:50%;" alt="" />
                    <img src="assets/img/slide/bg4.png" style="width:50%;" alt="" />
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <span class="hanging">3</span>输入经审批开通的登录用户名、密码登录移动办公vpn。疫情防控期间移动办公，授权开通用户账户方式：
                        我关域帐户认证+短信验证码方式。 请直接使用本人域帐户名及密码登录。
                        可通过下载安装组件，通过Easy Connect客户端方式登录使用移动办公VPN。
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-sm-center">
        <div class="col-sm-10 col-md-8 mb-5">
            <div class="card bg-light">
                <div class="card-img-top text-center" >
                <img src="assets/img/slide/bg5.png" style="max-height: 320px;" alt="" />
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <span class="hanging">4</span>登录后进入短信认证界面，请将手机收到的6位验证码输入验证框，并点选确定。
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-sm-center">
        <div class="col-sm-10 col-md-8 mb-5">
            <div class="card bg-light">
                <img src="assets/img/slide/bg6.png" class="card-img-top" alt="" />
                <div class="card-body">
                    <p class="card-text">
                        <span class="hanging">5</span>以应用发布方式访问关网主页及HB2012，图中四个链接均可使用。
                        建议使用“应用发布-关网主页” 其中“应用发布-主页-
                        Chrome”仅提供需使用谷歌浏览器的业务系统使用。
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-sm-center">
        <div class="col-sm-10 col-md-8 mb-5">
            <div class="card bg-light">
                <img src="assets/img/slide/bg7.png" class="card-img-top" alt="" />
                <div class="card-body">
                    <p class="card-text">
                        <span class="hanging">6</span>在验证账户窗口，务必输入本人域账号及密码，格式为<span style="font-weight: bold;color:#eb1313">gz\账户名</span>，密码，可勾选“记住我的凭据”。
                        如出现打开页面空白，请关闭网页，重新按第4点进入，选择“使用其他账户”，在该栏目内，输入本人域账号及密码，格式为
                        gz\账户名，密码。 点击确定后，可按单位使用习惯正常使用HB、主页。
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-sm-center">
        <div class="col-sm-10 col-md-8 mb-5">
            <div class="card bg-light">
                <img src="assets/img/slide/bg8.png" class="card-img-top" alt="" />
                <div class="card-body">
                    <p class="card-text">
                        <span class="hanging">7</span>可点选“2015办公邮箱”以web方式使用办公邮箱。
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-sm-center">
        <div class="col-sm-10 col-md-8 mb-5">
            <div class="card bg-light">
                <div class="card-img-top text-center">
                <img src="assets/img/slide/bg9.png" style="max-height: 320px;" alt="" />
            </div>
                <div class="card-body">
                    <p class="card-text">
                        <span class="hanging">8</span>输入本人域账号及密码，格式为gz\账户名，密码，登录邮箱。
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-sm-center">
        <div class="col-sm-10 col-md-8 mb-5">
            <div class="card bg-light">
                <div class="card-body">
                    <p class="card-text">
                        <span class="hanging">9</span>可点选“广州海关云盘”使用我关内网管理网提供的存储云访问数据。
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-sm-center">
        <div class="col-sm-10 col-md-8 mb-5">
            <div class="card bg-light">
                <div class="card-img-top text-center">
                <img src="assets/img/slide/bga.png" style="max-height:320px" alt="" />
            </div>
                <div class="card-body">
                    <p class="card-text">
                        <span class="hanging">10</span>移动办公使用完毕请“注销”或“退出”。
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-sm-center">
        <div class="col-sm-10 col-md-8 mb-5">
            <div class="card bg-light">
                    <h5 class="card-header">注意事項</h5>
                <div class="card-body">
                    <ul class="card-text">
                        <li>
                            按照谁使用，谁负责原则，如因违反规定而造成安全或泄密事故的，
                            使用者须负相应的责任。
                        </li>
                        <li>
                            本次开通账户，请在疫情防控保障工作期间，遵守使用。
                            相关移动办公账户将会标注（临时）字样，并结合工作情况动态调整。
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>