.card-body {

    .hanging {
        float:left;
        font-size: 2.2em;
        padding: 8px 15px 3px 0;
        line-height: 0.7em;
        font-weight: bold;
        font-family: Helvetica,arial,sans-serif;
    }
}