<!-- <P style="LINE-HEIGHT: 21pt; display:none;" align=left>
  　　1.确认互联网页访问顺畅前提下，使用IE浏览器（次选360、谷歌浏览器）访问VPN登录页面（https://vpn.gz-eport.com），如用户名及密码输入框不能显示，请将https://vpn.gz-eport.com地址添加到“internet选项”的“受信任站点”中；<br>
  　　2.页面打开时如遇到界面显示“您的连接不是私密链接…”警示信息，请点击忽略，继续访问。
  <br>
  　　3.VPN登录框使用个人域账户及密码登录，手机短信认证码输入成功后，推荐点击“应用发布-关网主页”打开内网主页，在弹出的录入框，输入账号格式为“gz\域账户名”，密码注意大小写，并勾选“记住我的凭据”选项；<br>
  　　
  4.登录VPN时，如遇到提示账号密码错误或看不到任何链接资源，请核实报送的账户及手机号准确性，需通过综合部门向办公室发邮件申请新开账号；<br>
  　　5.使用过程如有异常，请优先仔细读取PPT指南和移动办公知识库，或通过技术热线81103814报障轮候处理。<br>
  　　<a href="http://10.53.2.77/xw/广州海关移动办公使用指南.ppt" target="_blank">广州海关移动办公使用指南</a><br>
  　　<a href="http://10.53.2.77/xw/移动办公应用知识库.docx" target="_blank">移动办公应用知识库</a><br>
  　　<a href="http://10.53.2.77/xw/广州海关VPN接入平台安全保密管理规定（修订版）.doc" target="_blank">广州海关VPN接入平台安全保密管理规定（修订版）</a><br>
  <a href="http://10.53.2.77/sgtb/2019年第三季度业务管理网网站分级管理情况表.xls" target="_blank"></a><br>
</P> -->

<div class="container">
  <div class="row mt-5">
    <div class="col text-center mt2">
      <h4 class="text-primary">移动办公使用技巧</h4>
      <img src="assets/img/feature-icon.svg" width="60" height="60" alt="">
    </div>
  </div>
  <div class="row instruction">
    <div class="col-md">
      <h5>保持网络畅通</h5>
      <p>
        移动办公非常依赖网络，请确保网络顺畅。远程办公时播放视频、下载软件等操作可能会影响链接效果。
        移动办公支持使用Windows、Mac、Linux、iOS、Android系统。
        <br/>PC使用时建议使用以下浏览器：
        <a href="https://www.mozilla.org/zh-CN/firefox/all/#product-desktop-release" target="_blank">
          <img src="https://www.mozilla.org/media/protocol/img/logos/firefox/logo.fedb52c912d6.svg">火狐浏览器</a>、
        <a href="https://baoku.360.cn/sinfo/100923_4000208.html" target="_blank">
          <img src="https://p4.ssl.qhimg.com//t0116b0c73a8d8e2321.png" alt="">360浏览器</a>、
          <a href="https://www.google.cn/intl/zh-CN/chrome/?standalone=1" target="_blank">
            <img src="https://www.google.cn/chrome/static/images/chrome-logo.svg" alt="">
            谷歌浏览器</a>
      </p>
    </div>
    <div class="col-md">
      <h5>使用域认证登录</h5>
      <ul>
        <li>
            VPN登录框使用个人域账户名(不带<span style="font-weight: bold;">"gz\"</span>)及密码登录，并进行手机短信认证。
        </li>
        <li>
            点击“<span style="font-weight: bold;">应用发布-关网主页</span>”打开内网主页。
          
        </li>
        <li>
            在弹出的录入框，输入账号格式为<span style="font-weight: bold;">"gz\域账户名"</span>，密码注意大小写。
          
        </li>
        <li>
            并勾选“<span style="font-weight: bold;">记住我的凭据</span>”选项。
        </li>
      </ul>
    </div>
    <div class="col-md">
      <h5>遇到问题时</h5>
      <p>
        如遇到提示账号密码错误或看不到任何链接资源，请核实报送的账户及手机号准确性，需通过综合部门向办公室发邮件申请新开账号。使用过程如有异常，请优先仔细读取
        <a routerLink="/tutorial">图文指南</a>、<a routerLink="/videos">视频教程</a>、<a
          routerLink="/faq">移动办公知识库</a>，或通过技术热线81103814报障轮候处理。
      </p>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col text-center ">
    <a href="https://vpn.gz-eport.com" class="btn btn-primary btn-start">点击进入移动办公</a>
  </div>
  </div>
</div>